# Prerequisites
*.pcap
*.dot
*.png
*.txt
*.pdf
*.json
*.sav
*.csv
*.zip
!tmp/*.txt
!tmp/*.png
!tmp/*.pdf
!emulation/sources/*.txt
!graphs/*.pdf
!graphs/baseline/*.txt
!graphs/tree/*.txt
!graphs/baseline_e/*.txt
!graphs/tree_e/*.txt
!graphs/flow/*.txt

